<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="moviesDBconnectionString"  connectionString="Data Source=Media.ruppin.ac.il;Initial Catalog=igroup90_test1; User ID=igroup90;Password=igroup90_07330" providerName="System.Data.SqlClient"/>
    </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
